
<div class="container" id="fondo">
    <div  align="center">
        <br><br>
      <div class="row">
      <div class="col-md-3">
        <div class="card">
            <img src="/assets/imgNiko/karina.jpg" class="card-img-top" alt="Imagen 2">
            <div class="card-body">
                <h5 class="card-title">Angela Ceron Benavides</h5>
                <p>Soy una Estudiante comprometida con mi trabajo con mi trabajo</p>
                <p>karynaCeron@gmail.com</p>
                
                <div class="inline-content">
                    <img src="/assets/imgNiko/facebook.jpg" alt="Imagen">
                    <a href="https://www.facebook.com/profile.php?id=100008356805758">Angela Ceron </a>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="/assets/imgNiko/victor.jpg" class="card-img-top" alt="Imagen 2">
            <div class="card-body">
                <h5 class="card-title">Victor Alfonso Delgado</h5>
                <p>Soy una persona con buenas caracteristicas de raciosino</p>
                <p>vadelgado@udenar.edu.co</p>
                <p>Victor Delgado</p>
                <a href="https://www.facebook.com/profile.php?id=100079327028131">Victor Delgado</a>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="/assets/imgNiko/nixon.jpg" class="card-img-top" alt="Imagen 2">
            <div class="card-body">
                <h5 class="card-title">Nixon Benavides Pucara</h5>
                <p>Soy un joven comprometido con el deporte</p>
                <p>lubierb383@gmail.com</p>
                <a href="https://www.facebook.com/profile.php?id=100013795207176">Nixon Benavides</a>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
