<div id="fondo">
  <div class="container" >
    <br>
    <div class="card">
      <div class="card-body">
        <br>
        <h3>Integrantes</h3>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Angela Ceron Benavides 
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                          <img src="/assets/imgNiko/karina.jpg" class="card-img-top" alt="Imagen 2">
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                      <div class="card">
                        <div class="card-body">                    
                            <p>Soy una Estudiante comprometida con mi trabajo</p>
                            <div class="inline-content">
                              <img src="/assets/imgNiko/whatsappdos.jpg" alt="Imagen">
                              <a href="https://web.whatsapp.com/" target="_blank">3107132031</a>
                            </div>
                            <div class="inline-content">
                              <img src="/assets/imgNiko/gmail.jpg" alt="Imagen">
                              <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser" target="_blank">karynaCeron@gmail.com</a>
                            </div>
                            <div class="inline-content">
                                <img src="/assets/imgNiko/facebooktres.jpg" alt="Imagen">
                                <a href="https://www.facebook.com/profile.php?id=100008356805758" target="_blank">Angela Ceron </a>
                            </div>                    
                        </div>
                      </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Nixon Benavides Paucara 
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                          <img src="/assets/imgNiko/nixon.jpg" class="card-img-top" alt="Imagen 2">
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                      <div class="card">
                        <div class="card-body">                    
                            <p>Soy un joven comprometido con el deporte</p>
                            <div class="inline-content">
                              <img src="/assets/imgNiko/whatsappdos.jpg" alt="Imagen">
                              <a href="https://web.whatsapp.com/" target="_blank">3135513709</a>
                            </div>
                            <div class="inline-content">
                              <img src="/assets/imgNiko/gmail.jpg" alt="Imagen">
                              <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser" target="_blank">lubierb383@gmail.com</a>
                            </div>
                            <div class="inline-content">
                                <img src="/assets/imgNiko/facebooktres.jpg" alt="Imagen">
                                <a href="https://www.facebook.com/profile.php?id=100013795207176" target="_blank">Nixon Benavides</a>
                            </div>                    
                        </div>
                      </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
      
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Victor Alfonso Delgado 
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                          <img src="/assets/imgNiko/victor.jpg" class="card-img-top" alt="Imagen 2">
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                      <div class="card">
                        <div class="card-body">                    
                            <p>Soy una persona comprometida con el trabajo</p>
                            <div class="inline-content">
                              <img src="/assets/imgNiko/whatsappdos.jpg" alt="Imagen">
                              <a href="https://web.whatsapp.com/" target="_blank">3104557906</a>
                            </div>
                            <div class="inline-content">
                              <img src="/assets/imgNiko/gmail.jpg" alt="Imagen">
                              <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser" target="_blank">vadelgado@udenar.edu.co</a>
                            </div>
                            <div class="inline-content">
                                <img src="/assets/imgNiko/facebooktres.jpg" alt="Imagen">
                                <a href="https://www.facebook.com/profile.php?id=100079327028131" target="_blank">Victor Delgado</a>
                            </div>                    
                        </div>
                      </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
      
      
          <!--************************************************************************************-->
        
        </div>
        
      </div>
    </div>
  
    <br>
    <!--Aqui vamos a colocar mas contenido -->
  </div>
 
</div>