.active{
    color:aqua;
}

.footer {
    background-color: #dbeef0;
    padding: 20px 0;
    color: #333;
  }
  
  .footer p {
    margin-bottom: 0;
  }
  
  .footer a {
    color: #333;
    text-decoration: none;
  }

  .titulo2{
    color: #2681F0;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}