<div class="container-fluid text-center mt-4 ">
      <strong class="titulo">
        ALIMENTOS
      </strong>
      <div class="link-container mt-4">
        <a routerLink="/alimentos/concentrado" routerLinkActive="active-link">Concentrados</a>
        <i class="fas fa-chevron-right" style="color: #2681F0;"></i> &nbsp;&nbsp;
        <a routerLink="/alimentos/comidaHumeda" routerLinkActive="active-link">Comida Húmeda</a>
      </div>

      <main class=" mt-4">
        <router-outlet></router-outlet>
      </main>

</div>
