<div id="fondo">
    <br><br>
    <div class="container" >
        <div class="card">
            
            <div class="row "  ><!--card-center--> 
                <div class="image-container">
                    <div class="card-body fondo-tarjeta" >
                        <br><br><br><br>
                        <h2>Para pasear ¿collar o pechera?</h2>
                        <p>Los collares para perro han sido el accesorio ideal. Pero podemos encontrar mayor comodidad en las pecheras para perros.</p>
                    </div>
                    <img src="/assets/imgNiko/perrocollar.jpg" alt="Imagen perro" id="img-mismalinea">
                </div>
            </div>
            <br>
            <div class="container centro">
                <div class="card card-informacion">
                    <div class="card-content" >
                        <h2>Para salir a pasear ¿qué es mejor para un perro, un collar o una pechera?</h2>
                        <p>Para nuestros perros el momento más esperado del día es la hora del paseo. Pero es justamente antes de la aventura que nos hacemos las siguientes preguntas:</p>
                        <p>"¿Qué es mejor para pasear a mi perro, collar o arnés? <br>
                            ¿O es mejor utilizar el viejo y conocido collar?"<br><br>
                            Para resolver este dilema, expondremos los pros y contras de cada uno.</p>
                        <div>
                            <div class="card-body" >
                            <img src="/assets/imgNiko/perrocollardos.jpg"  id="img-perrocollardos" class="card-img-top mx-auto d-block" alt= "Perro con collar">
                        </div><br>
                        <p>Durante mucho tiempo, los collares para perros han sido el accesorio ideal para los paseos. Sin embargo, existen mayores bondades en las pecheras para perros.</p>
                        <br>
                        <h3>Los collares para perros</h3>
                        <div class="card-body" >
                            <img src="/assets/imgNiko/perroconcollar.jpg"  id="img-perrocollardos" class="card-img-top mx-auto d-block" alt= "Perro con collar">
                        </div>
                        <h6>CONTRAS</h6>
                        <p>Algunos de los contras de los collares son los siguientes. ¡Presta atención! <br><br>

                            1. Se colocan en uno de los puntos más vulnerables del cuerpo, el cuello del perro, lo que puede llegar a ocasionar daño en el 
                            cuello si no se usan con cuidado. Las lesiones pueden ser desde leves, como hematomas en el área de contacto, hasta graves, como contracturas, 
                            problemas al respirar, tos crónica o presión en los nervios de la médula ósea. <br>
                            2. Algunos expertos explican que, debido al daño físico que se puede causar mediante un
                             collar, nuestros amigos peludos podrían llegar a relacionar el momento del paseo 
                             con dolor.</p>
                        </div>
                        <h6>VENTAJAS</h6>
                        <p>
                            Sin embargo, no todo es malo respecto al collar para perros. Estos pueden ser utilizados sin problema en muchos casos. Por ejemplo: <br><br>

                            1. Es recomendable que todos los perros tengan un collar puesto en todo momento con su placa de identificación <br>
                            2. Si tu perro camina siempre a tu lado sin jalar la correa y no tienes problemas de conducta con él, puede usar un collar sin ningún problema, la pechera será solo ideal para viajar en auto para usar con el cinturón de seguridad. 
                        </p>
                        <br>
                        <h3>La Pechera para perros</h3>
                        <div class="card-body" >
                            <img src="/assets/imgNiko/perropechera.jpg"  id="img-perrocollardos" class="card-img-top mx-auto d-block" alt= "Perro con collar">
                        </div>
                        <h6>VENTAJAS</h6>
                        <p>Las pecheras para perros han ganado popularidad. Aquí te presentamos algunas de las razones. <br><br>

                            1. No existe riesgo de causar lesiones graves o problemas respiratorios y, por lo tanto, son seguras. <br>
                            2. Son más cómodas para nuestros perros. <br>
                            3. Son ideales para para cualquier tipo de perro.</p>
                        <h6>CONTRAS</h6>
                        <p>las pecheras también pueden dar problemas. Algunas de las desventajas son: <br><br>
                            1. Debemos de tener cuidado al colocarlas por primera vez y al elegir la talla,
                             para evitar roces molestos y la posibilidad de generar alguna lesión por no estar 
                             correctamente ajustadas, una vez ajustada correctamente no tendrán problema, 
                             solo deberás de hacer pequeños ajustes una que otra vez. <br>
                            2. No se recomienda usar todo el día en perros de pelo abundante. En este caso, recomendamos solo usarlas al salir a pasear.</p>
                        
                    </div>
                </div>
            </div>
            <br>
            <div class="row "  ><!--card-center--> 
                <div class="image-container">
                    <div class="card-body fondo-tarjeta" >
                        <br><br><br>
                        <h2>Ten en cuenta los siguiente:</h2>
                        <h5>"Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo." </h5>
                        <p>(Marc Bekoff)</p>
                    </div>
                    <img src="/assets/imgNiko/mascotas2.jpg" alt="Imagen perro" id="img-mascotas">
                </div>
            </div>
        </div>

    </div>
    <br><br>
   
</div>


