.body{
    background-color: antiquewhite;
}



.titulo{
    color: #2681F0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo1{
    color: #2681F0;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}