
.titulo{
    color: #2681F0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo1{
    color: #2681F0;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo2{
    color: #2681F0;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo3{
    color: #58595a;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.contenedorTexto{
    margin-left: 10%;
    margin-right: 10%;
}

.colorAzul{
    color: #2681F0;
}

.contenedorInterno{
    padding-left: 5%;
}

.footer {
    background-color: #dbeef0;
    padding: 20px 0;
    color: #333;
  }
  
  .footer p {
    margin-bottom: 0;
  }
  
  .footer a {
    color: #333;
    text-decoration: none;
  }
